.banner {
     height: 110px;
     margin: auto;
     overflow: hidden;
     position: relative;
     margin-bottom: 30px;
   }

.imageBanner{
    position: absolute;
    width:1390px;
    height:223px;
    top:171px;
    left:55px;
    /*opacity:30%;*/
    mix-blend-mode:Darken; /* propriété spécifie comment le contenu d'un élément doit se fondre avec son arrière-plan*/
    background: #000000;  
    border-radius: 25px;
     }

  

.Chez{   /* Chez vous, partout et ailleurs */
     width: 100%; 
    font-size:48px; 
   font-family: 'Montserrat';
    font-style: normal;
    /*font-weight: bold; */
    position: absolute; /* pour que la phrase soit positionnée au milieu de l'image
    /* left: 24%; */
    /*right: 25.14%;*/
    /* top: 123%; */
    /* bottom: 90.04%; */
    margin-top: -85px;/* concerne les marges exterieures bas */
    margin-left: 438px;
    line-height: 142.6%; /*indique la hauteur minimale des lignes au sein de l'élément*/
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;


    }