.photo{
    position: absolute;
    width:1380px;
    height:455px;
    top:171px;
    left:55px;
    /*opacity:30%;*/
    mix-blend-mode:Darken; /* propriété spécifie comment le contenu d'un élément doit se fondre avec son arrière-plan*/
    background: #000000;  
    border-radius: 25px;
       }
  
     .flecheGauche{
        /* position: absolute;  */
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        
        /* background: #FFFFFF; */
          background: red; 
        width:46.68px;
        height:79.2px;
     }

     .flechDroite{
       /* position: absolute; */
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        
        /* background: #FFFFFF; */
          background: red; 
        width:46.68px;
        height:79.2px;
     }