.collapse-element{ /* la box qui contient la box avec à l'intérieur Fiabilité et le texte*/
   width:1230px;
  
   margin-top: 50px; 
   margin-left: auto;
   margin-right: auto;
   color: #FF6060; /* pour le texte sous fiabilité*/
   margin-bottom: -100px;
   background: #F7F7F7;
   border-radius: 5px;

}



.button-container{ /* la box avec à l'intérieur Fiabilité*/
background-color: #FF6060;
border-radius: 5px;
height: 24px;
padding-left: 4px ;
margin-bottom: -10px;
/* margin-top: -90px; */
/* padding-top: 0px; */
padding-top: -180px;
display : flex;
justify-content: space-between;


}

.collapse-titre { /* Fiabilité*/
/* margin-left: 2px;
margin-top: 2px; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
color: #FFFFFF;
/* position: absolute; */
left: 1.77%;
right: 88.75%;
top: 11.93%;
bottom: 15.72%;
padding-top: 2px;
display: flex;
align-items: center;
}

.collapse-button{ /* la box avec la flèche*/
    padding-top: 2px;
    
}


   
    
    