.button_container{ 
    /* position: absolute;  */
/* left: 0%;
right: 0%;
top: 0%;
bottom: 74.46%;*/
width:1230px;
height:0px; 
background-color: #FF6060;
margin-top: 50px;
padding-top: 5.75px;
border-radius: 5px;

}

.collapse_button{  /* pour les titres */

/* left: 0%;
right: 0%;
top: 0%;
bottom: 74.46%; */
/* width:10%;
height:47px; */
/* padding-bottom: -170px; */
}

