 .logoFooter{
    width: 80px;
    position: absolute; 
/* left: 128.63%; */
/*right: 49.47%;*/
/*top: 380%;*/
 bottom: 50%; 
/* height:36.11px; */
bottom:62px; 
/* left:127px; */

}
  
 .rights{
   position: absolute;
left: 42.15%;
/*right: 32.22%;*/
/*top: 690%;*/
bottom: -5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
/*line-height: 142.6%;*/
display: flex;
align-items: flex-end;
/*text-align: center;*/
   
    color: #FFFFFF;
   
} 

.lfooter{ /* cadre englobant logo et la phrase rights*/
    position: absolute;
     width: 80%; 
     height: 3%;
 /* left: 28.63%;*/
 /*right: 49.47%;*/
 top: 480%;
 bottom: 0%;  
  background: black;
  /* left: 32.15%;
  right: 32.22%; */
  
  /*bottom: 13.88%;*/
  text-align: center;
 }
