
.Accueil{ /*mot Accueil */
    
    margin-top: -56px; /* concerne les marges exterieures bas */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;   
    color: #FF6060;
    display: flex;
    align-items: flex-end;
    text-align: right;
}

.APropos{ /*mot Accueil */

   margin-left: 10px;
   margin-top: -56px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;   
   color: #FF6060;
   display: flex;
   align-items: flex-end;
   text-align: right;
}



