
.Accueil{ /*mot Accueil */

  
   /* margin-top: -85px; concerne les marges exterieures bas */
    margin-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;  
    color: #FF6060;
}

.APropos{ /*mot Accueil */

   margin-left: 10px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;  
   color: #FF6060;
}