
.Accueil{ /*mot Accueil */
    position: absolute;
    left: 64%;
    right: 13.95%;
    top: 14%;
     font-family: 'Montserrat';
    font-style: normal;
     font-size: 24px;
     display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
     color: #FF6060;
}

.APropos{ /*mot Accueil */
    position: absolute;
    left: 70%;
    right: 13.95%;
    top: 14%;
       font-family: 'Montserrat';
    font-style: normal;
       font-size: 24px;
     display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
     color: #FF6060;
}

.erreur{
    text-align: center;
    margin: 0 100px 50px 100px;
    color: #FF6060;
}

.nombre{ /* 404 */
display: flex;
align-items: center;
text-align: center;  
color: #FF6060;
font-size: 175px;
    font-weight: 700;
    margin-left: 438px;
    margin-bottom:60px ; /* marges extérieures bas*/
    margin-top: -40px;
}

.texte{
  margin-left:80px; 
width:90% ;
color: #FF6060;
   font-size: 36px;
font-weight: 500;
  position: absolute;
left: 20.49%;
right: 18.96%;
top: 59.18%;
bottom: 35.84%;
font-family: 'Montserrat';
font-style: normal;
line-height: 142.6%;
display: flex;
align-items: flex-end;
}

.retourAccueil{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
display: flex;
align-items: flex-end;
text-decoration-line: underline;
color: #FF6060;
position: absolute;
left: 36.14%;
right: 40.14%;
top: 71.93%;
bottom: 20.53%;
}