
.Accueil{ /*mot Accueil */

    position: absolute;
    left: 64%;
    right: 13.95%;
    top: 18%;
    /*bottom: 25%;*/
    
    font-family: 'Montserrat';
    font-style: normal;
    /*font-weight: 500;*/
    font-size: 24px;
    /*line-height: 142.6%;*/
    
    /* or 34px */
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    
    color: #FF6060;
}

.APropos{ /*mot Accueil */

    position: absolute;
    left: 70%;
    right: 13.95%;
    top: 18%;
    /*bottom: 55%;*/
    
    font-family: 'Montserrat';
    font-style: normal;
    /*font-weight: 500;*/
    font-size: 24px;
    /*line-height: 142.6%;*/
    
    /* or 34px */
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    
    color: #FF6060;
}

.nombre{ /* 404 */
position: absolute;
margin-top: -155px; /*concerne les marges exterieures bas */
margin-left: 438px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 288px;
line-height: 142.6%;

/* or 411px */
display: flex;
align-items: center;
text-align: center;

color: #FF6060;
}

.texte{
   
 position: absolute;
/* left: 20.49%;
right: 18.96%;
top: 59.18%;
bottom: 35.84%;   */
margin-top: 155px;/* concerne les marges exterieures bas */
margin-left: 438px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300; 
font-size: 36px;
line-height: 142.6%;

/* or 51px */
display: flex;
align-items: flex-end;

color: #FF6060;
}

.retourAccueil{
    position: absolute;
left: 40.14%;
right: 40.14%;
top: 81.93%;
bottom: 15.53%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;

/* identical to box height, or 26px */
display: flex;
align-items: flex-end;
text-decoration-line: underline;

color: #FF6060;
}