.tousAppartements
{
	display: flex;
	flex-direction: column;
}

.appartements
{
	display: flex;
	flex-direction: column-reverse !important;/*afin que les plus populaires apparaissent avant hebergement à Marseille sur mobile*/
    color: aqua;
    /* color: #FFFFFF; */
}